* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lugrasimo", cursive;
  list-style: none;
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  background: url(../img/1105631.jpg) center center no-repeat fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html .Container_login, body .Container_login {
  position: relative;
  width: 900px;
  height: 450px;
  background-color: rgba(10, 10, 60, 0.5);
  display: grid;
  gird-template-columns: 700px 200px;
  grid-template-rows: repeat(7, max-content);
  column-gap: 20px;
  row-gap: 20px;
  border-radius: 50px 0 50px 0;
  border: 1px solid white;
  box-shadow: 5px 2px 10px black;
  padding: 10px;
  grid-template-rows: repeat(8, max-content);
}
@media (max-width: 1024px) {
  html .Container_login, body .Container_login {
    width: 600px;
    height: 100%;
    grid-template-columns: 100%;
    padding: 0px 20px 20px 20px;
    border: 5px double white;
  }
}
@media (max-width: 668px) {
  html .Container_login, body .Container_login {
    width: 100vw;
    grid-template-columns: 100%;
  }
}
html .Container_login_socialMedia, body .Container_login_socialMedia {
  grid-column: 2;
  grid-row: 7;
}
@media (max-width: 1024px) {
  html .Container_login_socialMedia, body .Container_login_socialMedia {
    grid-column: 1;
    grid-row: 8;
  }
}
html .Container_login_socialMedia ul, body .Container_login_socialMedia ul {
  display: flex;
  column-gap: 20px;
}
html .Container_login_socialMedia ul li, body .Container_login_socialMedia ul li {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
html .Container_login_socialMedia ul li:hover, body .Container_login_socialMedia ul li:hover {
  transform: scale(1.2);
}
html .Container_login_socialMedia ul li img, body .Container_login_socialMedia ul li img {
  width: 100%;
  height: 100%;
}
html .Container_login_banner, body .Container_login_banner {
  grid-column: 1;
  grid-row: 1/8;
  height: 430px;
  width: 400px;
  border-radius: 40px 0 0px 0;
}
@media (max-width: 1024px) {
  html .Container_login_banner, body .Container_login_banner {
    position: relative;
    right: 20px;
    width: 590px;
    height: 100%;
    grid-row: 1;
    border-bottom: 5px double white;
    box-shadow: 0 5px 15px black;
  }
}
@media (max-width: 668px) {
  html .Container_login_banner, body .Container_login_banner {
    width: calc(100vw - 10px);
    height: auto;
    margin-bottom: 50px;
  }
}
html .Container_login_title, body .Container_login_title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
}
@media (max-width: 1024px) {
  html .Container_login_title, body .Container_login_title {
    grid-column: 1;
    grid-row: 2;
  }
}
html .Container_login_text, body .Container_login_text {
  font-size: 1em;
  text-shadow: 1px 1px black;
  grid-column: 2;
  grid-row: 2;
}
@media (max-width: 1024px) {
  html .Container_login_text, body .Container_login_text {
    grid-column: 1;
    grid-row: 3;
  }
}
html .Container_login_container_email, body .Container_login_container_email {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgb(15, 0, 45);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  grid-column: 2;
  grid-row: 3;
}
@media (max-width: 1024px) {
  html .Container_login_container_email, body .Container_login_container_email {
    grid-column: 1;
    grid-row: 4;
  }
}
html .Container_login_container_email_label, body .Container_login_container_email_label {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
}
html .Container_login_container_email_input, body .Container_login_container_email_input {
  height: 40px;
  width: 100%;
  font-size: 1.2em;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: rgb(15, 0, 45);
  color: white;
}
@media (max-width: 668px) {
  html .Container_login_container_email_input, body .Container_login_container_email_input {
    font-size: 1em;
  }
}
html .Container_login_container_senha, body .Container_login_container_senha {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgb(15, 0, 45);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  grid-column: 2;
  grid-row: 4;
}
@media (max-width: 1024px) {
  html .Container_login_container_senha, body .Container_login_container_senha {
    grid-column: 1;
    grid-row: 5;
  }
}
html .Container_login_container_senha_label, body .Container_login_container_senha_label {
  display: flex;
  align-items: center;
}
html .Container_login_container_senha_input, body .Container_login_container_senha_input {
  height: 40px;
  width: 100%;
  font-size: 1.2em;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: rgb(15, 0, 45);
  color: white;
}
@media (max-width: 668px) {
  html .Container_login_container_senha_input, body .Container_login_container_senha_input {
    font-size: 1em;
  }
}
html .Container_login_confirm, body .Container_login_confirm {
  height: 40px;
  width: 100%;
  font-size: 1.1em;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
  background-color: rgb(15, 0, 45);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  grid-row: 5;
}
@media (max-width: 1024px) {
  html .Container_login_confirm, body .Container_login_confirm {
    grid-column: 1;
    grid-row: 6;
  }
}
html .Container_login_confirm:hover, body .Container_login_confirm:hover {
  background-color: rgba(40, 0, 80, 0.5);
}
html .Container_login_btn, body .Container_login_btn {
  height: 40px;
  width: 100%;
  font-size: 1.1em;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
  background-color: rgb(15, 0, 45);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  grid-column: 2;
  grid-row: 6;
}
@media (max-width: 1024px) {
  html .Container_login_btn, body .Container_login_btn {
    grid-column: 1;
    grid-row: 7;
  }
}
html .Container_login_btn:hover, body .Container_login_btn:hover {
  background-color: rgba(40, 0, 80, 0.5);
}
html .Conteiner_confirmation_Msg, body .Conteiner_confirmation_Msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(10, 10, 60, 0.5), rgba(40, 0, 80, 0.5)), url(../img/1120121.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 400px;
  height: 100%;
  width: 400px;
  border-radius: 10px;
  border: 2px solid white;
  padding: 20px;
  font-size: 0.8em;
  row-gap: 20px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
@media (max-width: 668px) {
  html .Conteiner_confirmation_Msg, body .Conteiner_confirmation_Msg {
    width: 340px;
    min-height: 300px;
  }
}
html .Conteiner_confirmation_Msg_img, body .Conteiner_confirmation_Msg_img {
  height: 150px;
  width: 150px;
}
html .Conteiner_confirmation_Msg_h1, body .Conteiner_confirmation_Msg_h1 {
  text-shadow: 1px 1px black;
}
html .Conteiner_confirmation_Msg_p, body .Conteiner_confirmation_Msg_p {
  text-shadow: 1px 1px black;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
}
html .Conteiner_confirmation_Msg_p_span, body .Conteiner_confirmation_Msg_p_span {
  font-weight: bolder;
  text-transform: capitalize;
  border-bottom: 1px solid white;
  color: pink;
}

/*# sourceMappingURL=index.css.map */
