*
    margin:0
    padding:0

    box-sizing: border-box

    font-family: 'Lugrasimo', cursive

    list-style: none

$bg-btn-input: rgba(15, 00, 45, 1)
$text-color: white
$bg-container-login: rgba(10, 10, 60, .5)
$btn-hover: rgba(40, 00, 80, .5)
$border: white


@mixin tablet()
    @media (max-width: 1024px) 
        @content

@mixin mobile()
    @media (max-width: 668px) 
        @content

@mixin flex-center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

@mixin btn
    height: 40px
    width: 100%

    font-size: 1.1em
    font-weight: bolder
    text-transform: capitalize
    text-align: center

    background-color: $bg-btn-input
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5)
    color: $text-color

    border-radius: 5px

    cursor: pointer

@mixin input 
    height: 40px
    width: 100%

    font-size: 1.2em

    padding: 0 10px

    border: none
    outline: none

    background-color: $bg-btn-input
    color: $text-color
    
    @include mobile()
        font-size: 1em

@mixin input-label
    display: flex
    flex-direction: row
    align-items: center

    width: 100%
    height: 40px

    background-color: $bg-btn-input
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5)

    border-radius: 5px

@mixin centralizar
    display: flex
    align-items: center

html, body
    overflow-x: hidden

    min-height: 100vh
    width: 100vw

    background: url(../img/1105631.jpg) center center no-repeat fixed
    background-size: cover
    color: $text-color

    @include flex-center
    
    .Container_login
        position: relative

        width: 900px
        height: 450px

        background-color: $bg-container-login

        display: grid
        gird-template-columns: 700px 200px
        grid-template-rows: repeat(7, max-content)

        column-gap: 20px
        row-gap: 20px

        border-radius: 50px 0 50px 0
        border: 1px solid $border
        box-shadow: 5px 2px 10px black

        padding: 10px

        @include tablet
            width: 600px
            height: 100%

            grid-template-columns: 100%

            padding: 0px 20px 20px 20px 

            border: 5px double $border

        @include mobile()
            width: 100vw

            grid-template-columns: 100%
        grid-template-rows: repeat(8, max-content)

        &_socialMedia
            grid-column: 2
            grid-row: 7

            @include tablet()
                grid-column: 1
                grid-row: 8

            ul
                display: flex
                column-gap: 20px 

                li
                    height: 20px
                    width: 20px
                    cursor: pointer 

                    &:hover 
                        transform: scale(1.2)    

                    img 
                        width: 100%
                        height: 100%

        &_banner
            grid-column: 1
            grid-row: 1/8
            height: 430px
            width: 400px

            border-radius: 40px 0 0px 0

            @include tablet
                position: relative
                right: 20px

                width: 590px
                height: 100%

                grid-row: 1

                border-bottom: 5px double $border
                box-shadow: 0 5px 15px black


            @include mobile()
                width: calc(100vw - 10px)
                height: auto

                margin-bottom: 50px

        &_title
            text-align: center
            font-size: 2em
            text-transform: uppercase

            grid-column: 2
            grid-row: 1

            @include tablet
                grid-column: 1
                grid-row: 2
            

        &_text
            font-size: 1em

            text-shadow: 1px 1px black

            grid-column: 2
            grid-row: 2

            @include tablet
                grid-column: 1
                grid-row: 3
            

        &_container_email
            @include input-label
            
            grid-column: 2
            grid-row: 3

            @include tablet
                grid-column: 1
                grid-row: 4            

            &_label
                @include centralizar
                
                width: 10%
                height: 100%

            &_input
                @include input
        
        &_container_senha
            @include input-label

            grid-column: 2
            grid-row: 4

            @include tablet
                grid-column: 1
                grid-row: 5            

            &_label
                @include centralizar

            &_input
                @include input
                
        &_confirm
            @include btn
            grid-row: 5

            @include tablet
                grid-column: 1
                grid-row: 6

            &:hover   
                background-color: $btn-hover
        &_btn
            @include btn
            grid-column: 2
            grid-row: 6

            @include tablet
                grid-column: 1
                grid-row: 7

            &:hover   
                background-color: $btn-hover

    .Conteiner_confirmation_Msg
        @include flex-center

        background-image: linear-gradient($bg-container-login, $btn-hover), url(../img/1120121.png)
        background-repeat: no-repeat
        background-size: 100% 100%

        min-height: 400px
        height: 100%
        width: 400px

        border-radius: 10px
        border: 2px solid $border

        padding: 20px
        
        font-size: .8em
        
        row-gap: 20px

        box-shadow: 8px 8px 20px rgba(0, 0, 0, .5)

        @include mobile()
            width: 340px
            min-height: 300px

        &_img
            height: 150px
            width: 150px

        &_h1
            text-shadow: 1px 1px black

        &_p 
            text-shadow: 1px 1px black
            line-height: 24px
            letter-spacing: 1px
            text-align: center

            &_span
                font-weight: bolder
                text-transform: capitalize

                border-bottom: 1px solid $border
                color: pink
            
